$header-height: 50px;
$header-border-width: 1px;

$mobile-header-height: $header-height;
$mobile-header-border-width: $header-border-width;

$desktop-header-margin-top: 3rem;
$desktop-header-height: 6rem;

.kp-header {
  position: fixed;
  z-index: 10;
  top: 0px;
  height: $mobile-header-height + $mobile-header-border-width;
  background-color: $white;
  background-position: 50% 50%;
  background-image: url("images/kplogo.png");
  background-size: 200px;
  background-repeat: no-repeat;
  border-bottom: $mobile-header-border-width solid #ccc;
  padding: 0 $content-gutter;
  width: 100%;

  @include media($large-screen) {
    background-color: $kp-blue;
    background-position: $large-spacing 50%;
    background-image: url("images/kp-icon.svg");
    background-size: rem(40);
    background-repeat: no-repeat;
    padding-left: 100px;

    top: 0px;
    border-top: $desktop-header-margin-top solid $white;
    height: $desktop-header-height + $desktop-header-margin-top;
    border-bottom: 0px;

    font-family: $brand-font;
    font-size: $medium-font;
    color: $white;

    white-space: nowrap;

    a {
      @include undecorated-link;
      color: $white;
    }
  }

  .header-left { border: 1px #ed0;
    @include media($large-screen) { display: none; }
  }

  .icon-button {
    z-index: 11;
    width: 4%;
    height: 80%;
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: $header-height;
    line-height: $header-height;
    vertical-align: middle;
    font-size: 150%;
    color: $kp-blue;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .menu-button {
    @extend .icon-button;
    background: none;
    border: none;
    font-size: 1.3rem;
  }
  .primary-nav {
    @include media($large-screen) {
	float: left;
    }
  }

  .utility-menu {
      float: none;
      border-top: 1px #fff solid;
      @include media(max-width 805px) {}

      @include media($large-screen) {
	  float: right;
	  border-top: none;
      }
  }
}

.header-menu {
  @include transition(all 0.2s $ease-out-cubic);

  background-color: $dark-blue;
  font-size: $medium-font;
  width: $small-screen-max;
  position: fixed;
  top: $header-height;
  bottom: 0px;

  left: -$small-screen-max;
  &.showing { left: 0px; }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0px;
  }

  li a {
    @include undecorated-link;
    display: block;
    color: $white;
    padding: $medium-spacing;

    &:hover {
      background-color: $kp-blue;
    }
  }

  @include media($large-screen-header-specific){
    font-size: 1.09rem;
  }

  @include media($large-screen) {
    width: auto;
    position: static;
    display: block;
    li {
      display: inline-block;
    }

    li a {
      padding: 0;
      line-height: $desktop-header-height;
      vertical-align: middle;
      margin-right: $medium-spacing;
    }
  }
}

.kp-header-buffer {
  display: block;
  height: $header-height + $header-border-width;
  width: 100%;

  @include media($large-screen) {
    height: $desktop-header-height + $desktop-header-margin-top;
  }
}

.master-nav-menu {
    @extend .link-list;
    @include span-columns(12);
    margin-top: $header-height + $header-border-width;
    background: #fff;
    nav {
        @include span-columns(12);
        a {
            &:hover {
                margin: 0;
            }
        }
    }
    .prime-nav {
        @include span-columns(12);
        display: inline-block;
        float: left;
        .nav-prime-li {
            position: relative;
            font-family: icon;
            @extend .icon-arrow-down;
            a {
                &:hover, &:focus {}
            }
            &:hover, &:focus {
                margin: 0;
                padding: 0;
            }
            .secondary-nav {
                display: none;
                li {
                    a {
                        border: none;
                        padding-left: $gutter-spacing + 2;
                    }
                    &:last-child {
                        border-bottom: 1px $mid-grey solid;
                    }
                }
            }
            &:before {
                @include transform(rotate(-90deg));
                color: $light-grey;
                position: absolute;
                right: 0px;
                pointer-events: none;
                top: $vertical-button-padding;
                right: $horizontal-button-padding;
            }
            &.expanded {
                a {
                    border-bottom: none;
                }
                &:before {
                    @include transform(rotate(0));
                }
            }
        }
    }
}

.mobile-header-content {
  position: fixed;
  top: 0;
  right: $gutter-spacing;
  z-index: 11;

  @include media($large-screen) { display: none; }

  .icon-button {
    width: 4%;
    height: 80%;
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: $header-height;
    vertical-align: middle;
    color: $kp-blue;
    line-height: $header-height;
    font-size: 150%;

    &:hover, &:focus {
        text-decoration: none;
    }

    @media print { display: none; }
  }
}