.modal-showing {
  overflow: hidden;
}

.kp-modal {

  &.modal-showing {
    display: block;

    .modal-fade-screen {
      opacity: 1;
      visibility: visible;

    }
    .modal-fade-screen .modal-inner {
      @include media($large-screen) {
        @include transform(translateY(50px));
      }
    }
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.4s $ease-out-cubic);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, 0.65);
    opacity: 0;
    visibility: hidden;
    z-index: 99999999999;
    padding-top: 3em;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-inner {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: $white;
    margin: 0;
    overflow: auto;
    &:focus {
      border:2px $kp-blue solid;
    }
    @include media($large-screen) {
      @include transform(translateY(20px));
      @include transition(transform 0.2s ease);
      @include transition-delay(0.2s);
      position: relative;
      margin: auto;
      width: 50%;
    }

    .content {
      padding: $content-gutter;

      @include media($large-screen) {
        padding-bottom: 0px;
      }
    }

    .modal-header {
      padding: $content-gutter;
      position: relative;
      border-bottom: 1px solid $border-color;
      color: $kp-blue;
      text-align: center;
      font-size: $medium-font;

      .modal-close {
        @extend .icon-cancel;
        @include position(absolute, null $content-gutter/2 $content-gutter null);
        @include size(1.2em);
        cursor: pointer;
        font-family: "icon";
        padding: 0;
        border: none;
        background: none;
      }
    }

    .modal-buttons {
      padding-top: $content-gutter;
      text-align: center;

      @include media($medium-screen) {
        .button { width: auto; }
      }
    }
  }
}
