.flash {
  padding: $content-gutter;

  @include media($large-screen) {
    border-radius: $border-radius;
  }

  &.info {
    background-color: $light-grey;
  }
}

@mixin alert {
  @extend .flash;
  @extend [class^="icon-"];

  padding-left: 4rem;
  margin-bottom: 0;
  border-radius: $small-spacing; // CHANGE ME
  font-weight: bold;

  &:before {
    font-size: $large-font;
    margin-left: -3rem;
    display: block;
    float: left;
  }
}

.alert-bland {
  @extend .flash;
  background-color: $light-grey;
}

.alert-error {
  @include alert;
  @extend .icon-alert;
  background-color: lighten($red-error, 40);

  &:before {
    color: $red-error;
  }
}

.alert-success {
  @include alert;
  @extend .icon-circle-checkmark;
  background-color: lighten($deep-green, 60);
  color: $dark-grey;

  &:before {
    font-size: 16pt;
    color: $deep-green;
  }
}

.alert-info {
  @include alert;
  @extend .icon-info-circled;
  background-color: lighten($interactive-blue, 50);
  color: $dark-grey;

  &:before {
    font-size: 16pt;
    color: $interactive-blue;
  }
}

.alert-loading {
  @include alert;
  @extend .icon-loading;
  background-color: $light-grey;
  text-align: center;

  .alert-message {
    @extend .message;
    display: block;
  }

  &:before {
    display: inline-block;
    float: none;
  }
}