$button-color: $interactive-blue;
$button-disable-color: $pale-blue;
$button-outline-hover-color: $light-blue;
$button-hover-color: $dark-blue;

$vertical-button-padding: 1em;
$horizontal-button-padding: 1.5em;
$base-border-radius: 5px;

a.button, a.button:hover, a.button:focus {
  text-decoration: none;
}

@mixin rounded-input {
  @include appearance(none);

  display: inline-block;
  padding: $vertical-button-padding $horizontal-button-padding;
  margin-bottom: $content-gutter;
  line-height: 1;
  cursor: pointer;
  border: none;
  border-radius: $base-border-radius;
  font-family: "Gotham 7r";
  font-weight: bold;
  min-width: 14rem;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;

  width: 100%;
}

.button {
  @include transition(background-color 0.2s ease);
  @include rounded-input;

  color: $white;
  background-color: $button-color;
  font-size: $base-font;
  text-align: center;
  text-transform: uppercase;

  @include media($large-screen) {
    width: auto;

    &.block {
      width: 100%;
      min-width: 0px;
    }
  }

  &:hover, &:focus {
    background-color: $button-hover-color;
    color: #fff;
  }
  &:disabled, .disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: $button-disable-color;
  }
  &.large {
    font-size: $medium-font;
  }
  &.small {
    font-size: $small-font;
  }
  &.mini {
    font-size: $mini-font;
  }

  &.outline-button {
    background-color: $white;
    border: 1px $button-color solid;
    color: $button-color;

    &:hover, &:focus {
      background-color: $button-outline-hover-color;
    }
    .icon-arrow-down{
      float:right;
    }
  }
}