
$feature-icon-size: 28pt;
.feature-icon {
  font-size: $feature-icon-size / 2;
  display: inline-block;
  border-radius: $feature-icon-size / 2;
  height: $feature-icon-size;
  width: $feature-icon-size;
  background-color: $mid-teal;
  color: $white;
  line-height: $feature-icon-size;
  vertical-align: middle;
  text-align: center;

  &.icon-message {
    font-size: ($feature-icon-size / 2) + 4pt;
  }
}

$mobile-feature-gutter: 1.3rem;
$feature-gutter: 2rem;
$max-content-width: 1080px;
.kp-feature {
  @include outer-container($max-content-width);
  margin: 0px auto;

  @include media($large-screen) {
    padding-top: $feature-gutter;
    padding-left: $feature-gutter;
  }

  .feature-header {
    display: none;
    @include media($large-screen) { display: block; }

    h1 {
      text-align: center;
      margin-bottom: $mobile-feature-gutter;
    }

    .feature-icon {
      display: block;
      margin: $mobile-feature-gutter auto;
    }

    @include media($large-screen) {
      margin-bottom: $feature-gutter;

      h1 {
        vertical-align: center;
        line-height: $feature-icon-size;
        display: inline-block;
        margin: 0px;
        margin-left: 0.3em;
        text-align: left;
      }

      .feature-icon {
        display: inline-block;
        margin-top: 0;
      }
    }
  }

  .feature-description {
    display: none;
  }

  .feature-menu {
    display: none;

    @include media($large-screen) {
      @include span-columns(3);
    }
  }

  .feature-content {
    @include media($large-screen) {
      @include span-columns(9);
    }
  }

  &.landing-page {
    .feature-header, .feature-menu {
      display: block;
    }

    .feature-content {
      display: none;

      @include media($large-screen) {
        display: block;
      }
    }

    .feature-description {
      display: block;
      text-align: center;
      padding: 0 $mobile-feature-gutter;
      padding-bottom: $mobile-feature-gutter;

      @include media($large-screen) {
        display: none !important;
      }
    }

    a.landing-page {
      @extend .active;
    }
  }
}