.select-dropdown {
  position: relative;
  font-family: "icon";
  @extend .icon-arrow-down;

  select {
    @extend .button;
    @extend .outline-button;
    @extend .block;

    text-transform: uppercase;
    &:active {
      text-transform: none;
    }
  }

  &:before {
    color: $kp-blue;
    position: absolute;
    right: 0px;
    pointer-events: none;
    top: $vertical-button-padding;
    right: $horizontal-button-padding;
  }
}

input[type="checkbox"] {
  @include appearance(none);
  display: block;
  font-family: "icon";
  color: $kp-blue;
  border: 1px solid $kp-blue;
  font-size: 0.6rem;
  width: 0.9rem;
  height: 0.9rem;
  text-align: center;
  padding-top: 0.1rem;
  margin-right: 0.4rem;

  &:checked {
    @extend .icon-checkmark;
  }
}