.link-list {
  @extend .list-unstyled; // BACKBONE...
  border-top: 1px solid $light-grey;

  @include media($large-screen) {
    margin-left: $content-gutter;
    border-top: none;
  }

  button {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    border-color: transparent;
    border-radius: 0;
  }

  a, a:hover, a:active,
  button, button:hover, button:active {
    display: block;
    text-decoration: none;
    padding: $content-gutter;
    border-bottom: 1px solid $light-grey;

    @include media($large-screen) {
      padding-top: $small-spacing;
      padding-bottom: $small-spacing;
      padding-left: 0px;
      border-bottom: none;

      &.active {
        font-family: "Gotham 7r";
        color: $interactive-blue;
      }
    }
  }

  a, a:active {
    color: $dark-grey;
  }

  a:hover {
    color: $interactive-blue;
  }
}
