//Kae: Do not use Bootstrap icon font.
//$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";

// Kae: refer to http://getbootstrap.com/customize/#less-variables for available variables
// Also refer to bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_scaffolding.scss
// for variables control the Typography and links
// Kae: define $lib to set the correct icon and font path in lib development mode.
// NOTE: all other feature should not define $lib, it's for lib project itself
$lib: true;

@import "variables"; // KP variables

// Bootstrap
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"; // KP bootstrap options
// @import "bower_components/bootstrap-jasny/scss/jasny-bootstrap.scss";
@import "bower_components/breakpoint-sass/stylesheets/breakpoint";

//Bourbon
@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box
}

$border-radius: 5px;
$small-spacing: 0.5rem;
$text-padding: 1rem;
$content-gutter: 1rem;
$medium-spacing: 1rem;
$gutter-spacing: $medium-spacing;
$large-spacing: 1.5rem;
$paragraph-margin: $large-spacing;

// Final design styles
@import "color";
@import "responsive";
@import "accessibility";
@import "icon";
@import "icon-custom";
@import "typography";
@import "button";
@import "form";
@import "table";
@import "list";
@import "modal";
@import "feature";
@import "header";

// Old styles
@import "font";
@import "icon";
@import "mixins"; // kp mixin