@import "bootstrap";

//Bourbon
@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box
}

$border-radius: 5px;
$small-spacing: 0.5rem;
$text-padding: 1rem;
$content-gutter: 1rem;
$medium-spacing: 1rem;
$gutter-spacing: $medium-spacing;
$large-spacing: 1.5rem;
$paragraph-margin: $large-spacing;
$header-spacing: 4em;

// Final design styles
@import "color";
@import "responsive";
@import "accessibility";
@import "icon-animation";
@import "icon";
@import "icon-custom";
@import "typography";
@import "alert";
@import "button";
@import "form";
@import "table";
@import "list";
@import "thumb";
@import "modal";
@import "feature";
@import "layout";
@import "header";
@import "font";