$border-color: #ddd;
$content-padding-mobile: 20px;

// Note: in order for the documentation to work correctly, replace
// 'position: fixed' with 'position: absolute'
.kp-header {
  position: absolute !important;
}

header {
  width: 100%;
  height: 160px;
  background-color: $bg-dark;
  background-position: 50% 50%;
  background-image: url('images/kplogo.png');
  background-size: 300px;
  background-repeat: no-repeat;
  border-bottom: $kp-blue 10px solid;
}

main {
  @extend .row;
  background-color: $bg-light;

  @include breakpoint($desktop) {
    padding: 40px;
  }
}

nav {
  @extend .col-md-3;
  @extend .col-xs-12;

  ul {
    font-size: 14pt;
    font-weight: bold;
    @extend .list-unstyled;


    @include breakpoint($desktop) {
      text-align: left;
    }
  }

  a {
    color: $text-med;
    text-decoration: none !important;

    &:hover {
      margin-left: 0.2em;
    }
  }
}

article {
  @extend .col-md-9;
  @extend .col-xs-12;

  >h1 {
    margin-top: 0px;
  }

  section {
    margin-bottom: 5em;
  }
}

article, section, .doc {
  >h2 {
    color: $kp-blue;
    padding-bottom: 10px;
    border-bottom: 1px $border-color solid;
    margin-bottom: 20px;
  }

  >h3 {
    font-family: "Gotham 4r";
    font-size: 24px;
  }

  >p {
    margin-bottom: 20px;
  }

  >p, >h1, >h2, >h3, >h4, >h5, >h6 {
    font-family: Verdana;
    padding-left: $content-padding-mobile;
    padding-right: $content-padding-mobile;
  }

  @include breakpoint($desktop) {
    >p, >h1, >h2, >h3, >h4, >h5, >h6 {
      font-family: Verdana;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.example {
  @extend .row;
  margin-bottom: 2em;

  .code, .result {
    @extend .col-lg-12;
    @extend .doc;
  }

  .result {
    width: 100%;
    float:left;
  }

  .result-pane {
    position: relative;
    border: 1px $border-color solid;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .code {
    margin-top: 1 0px;
  }

  pre {
    margin-bottom: 20px;
  }

  &.minor {
    margin-bottom: 1em;

    .code, .result {
      @extend .col-sm-12;

      >h4 { display: none; }
    }

    .result-pane {
      border: none;

      @include breakpoint($desktop) {
        border: 1px $border-color solid;
      }
    }
  }

  &.element {
    border-bottom: 1px $border-color solid;
    .result-pane {
      border: none;
      margin-left: $content-padding-mobile;

      @include breakpoint($desktop) {
        margin-left: 0;
      }
    }

    margin-bottom: 1em;

    .code {
      @extend .col-md-9;
    }

    .result {
      @extend .col-md-3;
    }

    .code, .result {
      @extend .col-sm-12;

      >h4 { display: none; }
    }

    @include breakpoint($desktop) {
      .result {
        padding-left: 1em;
      }
    }
  }
}

.example-note {
  color: #999;
}

.color-section {
  @include clearfix;
  @extend .doc;
  margin-bottom: 20px;
}

.colors {
  @extend .row;
}

.color {
  @extend .col-lg-4;
  @extend .col-md-6;
  @extend .col-sm-12;
  float: left;
  padding: 10px $content-padding-mobile;

  @include breakpoint($desktop) {
    padding-left: 0px;
  }

  .swatch {
    height: 80px;
    width: 100%;
    border-radius: 5px;
  }
}

#font-sizes {
  font-family: "Gotham 4r";
  margin-bottom: 40px;
  margin-left: $content-padding-mobile;

  @include breakpoint($desktop) {
    margin-left: 0;
  }

  >div {
    margin-bottom: 20px;
  }
}