.responsive-example {
  color: $light-grey;

  @include media($medium-screen) {
    font-size: 20px;
    color: $dark-grey;
  }

  @include media($large-screen) {
    font-size: 32px;
    color: $deep-blue;
  }
}
