$table-spacing: 10px;
table.table{
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $table-spacing 0;
  width: 100%;

  th {
    border-bottom: 2px solid $dark-grey;
    font-family: $bold-font;
    padding: $table-spacing 0;
    text-align: left;
  }

  td {
    width: auto;
    border-bottom: 1px solid $light-grey;
    padding: $table-spacing 0;
  }

  td:first-child {
    padding-left: $table-spacing;
  }
  td:last-child {
    padding-right: $table-spacing;
  }
  tr:last-child td{
      border-bottom: none;
  }

  tr,
  td,
  th {
    vertical-align: middle;
  }

  @include breakpoint($mobile) {
    &.collapsable {
      th {
        display:none;
      }

      td {
        vertical-align: top;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      td.keep-column {
        width: 1px;
        padding-right: $table-spacing;
      }

      td:not(.keep-column) {
        display: block;
        border-bottom: none;
      }

      td.bottom {
        padding-bottom: $table-spacing;
      }

      tr {
        display: table;
        table-layout: auto;
        width: 100%;
        border-bottom: 1px solid $light-grey;
        margin-top: $table-spacing;
        &:first-child { margin-top: 0; }
      }
    }
  }
}

