$heading-padding: 0.5em;

body {
  font-family: "Gotham 4r";
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

.uppercase {
  text-transform: uppercase;
}

.page-heading {
  font-size: 22pt;
  font-weight: normal;
  margin-top: 0px;
}

.section-heading {
  font-size: 14pt;
  background-color: $light-grey;
  width: 100%;
  padding: $heading-padding;

  .heading-right {
    float: right;
  }

  th {
    font-weight: normal;
    padding: $heading-padding;
  }
}


h1 {
  font-size: 18pt;

  @include breakpoint($desktop) {
    font-size: 36pt;
  }
}