$base-font: 14px;
$mini-font: 70%;
$small-font: 80%;
$medium-font: 120%;
$large-font: 190%;
$extra-large-font: 250%;

$normal-font: "Verdana", "Geneva", sans-serif;
$bold-font: "Gotham 7r";
$brand-font: "Gotham 4r";

html {
  font-size: $base-font;
}

body {
  background-color: $white;
  color: $dark-grey;
  font-size: $base-font;
  font-family: $normal-font;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: $brand-font;
}

h1, h2, h3, h4, h5, h6, p {
  padding-left: $text-padding;
  margin-bottom: $paragraph-margin;
}

p {
  font-family: $normal-font;
  font-size: $base-font;
  margin-bottom: $paragraph-margin;
}

a {
  color: $interactive-blue;
  cursor: pointer;

  &.disabled {
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    color: $kp-blue;
  }
}

h1 {
  font-size: $large-font;

  @include media($large-screen) {
    font-size: $extra-large-font;
  }
}

h2 {
  @extend .page-heading;
}
h3{
  font-size:$medium-font;
}

.mini-font { font-size:$mini-font; }
.small-font { font-size:$small-font; }
.medium-font { font-size: $medium-font; }
.large-font { font-size: $large-font; }
.extra-large-font { font-size: $extra-large-font; }
.uppercase { text-transform: uppercase; }

.page-heading {
  font-size: $medium-font;
  font-family: $brand-font;
  padding-right: $content-gutter;
  margin-top: 2 * $content-gutter;
  padding-left: $text-padding;

  @include media($large-screen) {
    margin-top: 0px;
    font-size: $large-font;
  }
}

.section-heading {
  display: block;
  font-size: $medium-font;
  background-color: $light-grey;
  width: 100%;
  padding: $text-padding;
  
  .heading-right {
    float: right;
  }

  th {
    font-weight: normal;
    padding: $text-padding;
  }
}

tr.section-heading {
  display: table-row;
  th, td { border-bottom: none !important; }
}

a, a:hover, a:active, a:focus {
  &.section-heading {
    color: $dark-grey;
    text-decoration: none;
  }
}

.context-bar {
  color: $white;
  background-color: $kp-blue;
  font-size: $medium-font;
  width: 100%;
  padding: $content-gutter/2 $content-gutter;

  @include media($large-screen) {
    background-color: $light-grey;
    color: $kp-blue;
    line-height: $large-font;
  }

  a {
    color: $white;
    text-decoration: none;

    @include media($large-screen) {
      color: $kp-blue;
    }
  }
}

.bold-heading {
  font-size: $medium-font;
  font-weight:bold;
}

.flash {
  padding: $content-gutter;

  @include media($large-screen) {
    border-radius: $border-radius;
  }

  &.info {
    background-color: $light-grey;
  }
}
