$base-font: 14px;
$mini-font: 70%;
$small-font: 80%;
$medium-font: 120%;
$large-font: 190%;
$extra-large-font: 250%;

$text-padding: 1rem;
$paragraph-margin: 10px;

html {
  font-size: $base-font;
}

body {
  font-size: $base-font;
  font-family: "Gotham 4r";
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

p {
  font-size: $base-font;
  margin-bottom: $paragraph-margin;
}

a {
  color: $interactive-blue;

  &:hover {
    color: $kp-blue;
  }
}

h1 {
  font-size: $large-font;

  @include breakpoint($desktop) {
    font-size: $extra-large-font;
  }
}
.mini-font { font-size:$mini-font; }
.small-font { font-size:$small-font; }
.medium-font { font-size: $medium-font; }
.large-font { font-size: $large-font; }
.extra-large-font { font-size: $extra-large-font; }

.uppercase {
  text-transform: uppercase;
}

.page-heading {
  font-size: $large-font;
  font-weight: normal;
  margin-top: 0px;
  padding-left: $text-padding;
}

.section-heading {
  display: block;
  font-size: $medium-font;
  background-color: $light-grey;
  width: 100%;
  padding: $text-padding;

  .heading-right {
    float: right;
  }

  th {
    font-weight: normal;
    padding: $text-padding;
  }

}

a, a:hover, a:active, a:focus {
  &.section-heading {
    color: $dark-grey;
    text-decoration: none;
  }
}
