// PLEASE only put Bootstrap defined variables in this file

/* Typography  */


//== Colors
$gray-darker:            #333333;
$gray-dark:              lighten(#000, 20%);   // #???
$gray:                   #464646;
$gray-light:             #636363;
$gray-lighter:           #c8c8c8;

$brand-primary:          #005081;
$brand-success:          #416020;
$brand-info:             #005081;
$brand-warning:          #b70e1e;
$brand-danger:           #b70e1e;

//== Scaffolding
/* Links */
// RYAN NEED TO ADD OPACITY AND BACKGROUND COLOR FOR DISABLED BUTTONS
// opacity is 100%, bg color is c9c9c9 $gray-lighter
// Hover state : bfd7e0 bg color:#333333
// pressed state: same

// Ryan: Need to add variable for this
$link-color:              #005ea6;
// Ryan: Need to add variable for this
$link-hover-color:        #e66600 ;

//== Typography
$font-family-sans-serif: Verdana,Arial,Helvetica,sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.429)); // ~20px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~11px

//(Gotham)
$font-size-h1:            floor(($font-size-base * 2.6)); // ~20px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~17px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~14px

$headings-font-family:    Gotham 7r,Verdana,Arial,Helvetica,sans-serif;
//$headings-font-weight:    0 ;
// RYAN TO DEFINE FONT HEIGHT AFTER IMPLEMENTING GOTHAM
$headings-line-height:    1.1;
$headings-color:          inherit;


//== Buttons
$btn-primary-color:		#ffffff;
$btn-primary-bg: 		$brand-primary;

$btn-link-disabled-color: $gray-darker; //#33333



//== Forms
// Input
$input-height-base:              (ceil($font-size-base * 3.143)); //44px
$input-height-large:             (ceil($font-size-base * 3.143)); //44px
$input-height-small:             (ceil($font-size-base * 3.143)); //44px same as base

// TODO: Kae these break the menu system, need to research
//== Media queries breakpoints
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  190px;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  480px;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  769px;

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-lg;

//== Grid system
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:           0px;

//popover
$popover-arrow-outer-color: rgba(0, 0, 0, 0.2);



/////////////////////////////////////////////////////////////////////////////////
// PLEASE keep customized variable as minimum as possible
/* ---------- Custom variables for KP ----------------------- */

$white:					#ffffff;
$brand-warning-bg:       #f2dede;
$font-size-medium:        ceil(($font-size-base * 1.286)); // 18px
$font-size-header:1.25em;
$btn-link-disabled-bg:	$gray-lighter;

//Border radius
$border-radius-base:        0px; //inputs
$border-radius-large:       8px; //large buttons
$border-radius-small:       0px;


$kp-mrgn: 					  3%;
$kp-width:					  94%;



/* Colors     */
$gray-bg:               #F6F5F1;
$title-blue:			#005081;

$gray-btn-disable: 		$gray-lighter;

$blue:                  #006D9D;
$blue-dark: 			#005081;
$blue-link: 			#005EA6;

$green:					#ABCC39;  //Message center
$green-light:			#F3F8E2;

$orange:				#FF9F00;  //Appointment center
$orange-light:			#FFF5E5;

$cyan:					#80C3E6;  //Sign in , Pharmacy Center
$cyan-light:			#DFF0F9;

$purple:				#A4B1E3;  //Medical records
$purple-light:			#E4E7F7;

/* Heights    */
$input-height: 			2.78em;






