@import 'main';

* {
  font-family: "Gotham 4r";
}

body {
  padding: 1em;
}

section {
  padding: 1em;
}

h2 {
  font-size: 16pt;
}

.color-swatch {
  float: left;
  height: 160px;
  width: 160px;
  border-radius: 80px;
  margin: 10px;
  line-height: 160px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;

  &:hover {
    height: 164px;
    width: 164px;
    line-height: 164px;
    border-radius: 82px;
    margin: 8px;
  }

  &.brand-primary,
  &.brand-success,
  &.brand-info,
  &.brand-warning,
  &.brand-danger,
  &.validation-red {
    color: #ccc;
  }

  &.brand-primary     { background-color: $brand-primary; }
  &.brand-success     { background-color: $brand-success; }
  &.brand-info        { background-color: $brand-info; }
  &.brand-warning     { background-color: $brand-warning; }
  &.brand-danger      { background-color: $brand-danger; }
  &.brand-warning-bg  { background-color: $brand-warning-bg; }
  &.validation-red    { background-color: $validation-red; }
}