{
  "rules": {
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": ["always", {
    "severity": "warning"
    }],
    "max-empty-lines": [2, {
      "severity": "warning"
    }],
    "indentation": [2, {
      "severity": "warning",
      "except": ["value"]
    }]
  }
}
