

// Header
.kp-global-logo{
	@include center-block();
	@extend .col-sm-4;
	@extend .col-md-6;
	@extend .col-lg-2;
	margin-top: .6em;
	float:none;
}
.kp-header h2{
	margin:0;
	
	//Ryan task to extend font-size-large class instead of using variable.
	font-size:$font-size-large
}

.kp-subhead{
	//Ryan task to extend font-size-large class instead of using variable.
	font-size:$font-size-medium
} 

.kp-content{
	padding-top:$spacer-small;
		//Ryan task to extend font-size-large class instead of using variable.
	font-size:$font-size-base
}

.kp-form{}

.kp-instruct{} 

//list panel
.panel-title a {
	display:block
}

.panel-heading{
	padding:0;
}

.panel-group .panel{
	margin:0;border-bottom:1px solid $gray
}

.kp-panel,
.kp-panel ul li{
	padding:0px
}

.kp-panel ul li a{
	display:block;
	padding:1em 3%;
	color:$gray-darker
}