/*
	Input forms: 
		Input field 
		Select box
		Date field
		
		
	
	Button

*/

.kp-form-text{
	border:1px x solid $gray-light;
	font-size:$font-size-base;
	height:$input-height;
	padding:0.65em $kp-mrgn;
	width:100%;
}

.kp-form-select{
	background-color:$white;
	background-image:none;
	border:none;
	font-size:$font-size-base;
	height:$input-height;
	padding:0.65em 0 0.65em $kp-mrgn;
	width:100%;
	border:1px solid $gray-light;
}

.kp-form-link{
	color:$gray-darker;
	display:block;
	padding:1em 0 1em $kp-mrgn;
	text-decoration:none;
	width:auto;
}

.kp-checkbox{
	background-color:#fff;
}  

.kp-checkbox-input input{
	width:1.5em;
	height:1.5em;
	padding-right:$gutter;
	margin-right: 20px;
	margin-top: 14px;
}

.kp-checkbox-label{
	padding-left:$gutter;
	padding-top:1em;
	padding-bottom:1em;
}

.kp-form-radio{}

.kp-form-datepicker{}




/* deprecated */
.chevron-blue{
 	background: url("../img/base/chevron_default_blue.gif") no-repeat scroll 95% 50% #FFFFFF;
    padding-right: 10%;
    border:1px solid $gray-lighter;
}

.chevron-purple{
 	background: url("../img/base/chevron_default_blue.gif") no-repeat scroll 97% 50% #FFFFFF;
}

.kp-link-bar a{color:$gray-darker;display:block;padding:1em 0 1em $kp-mrgn;text-decoration:none;width:auto;}
.kp-link a{color:$gray-darker;display:block;padding:1em 0 1em $kp-mrgn;text-decoration:none;width:auto;}
.cbar-bot-bor-none{border-bottom:none;}
.kp-input select{background-color:$white;background-image:none;border:medium none;font-size:1em;height:$input-height;padding:0.65em 0 0.65em $kp-mrgn;width:100%;border:1px solid $gray-light;}
.kp-input input{border:1px x solid $gray-light;font-size:1em;height:$input-height;padding:0.65em $kp-mrgn;width:100%;}
.kp-input .panel-body ul{padding-left:0px;margin-bottom:0px}




