//Review these width with CS
$spacer-xsmall:12px;
$spacer-small:14px;
$spacer-medium:16px;
$spacer-large:18px;
$spacer-xlarge:20px;

$screen-sm:190px;
$screen-md:480px;
$screen-lg:769px;

$gutter:3%;

// only for small form factors
.gutter-container{padding-left:$gutter;padding-right:$gutter;}

.sp-sm-bottom{padding-bottom:.5em}
.sp-sm-top{padding-top:.5em}
.sp-md-bottom{padding-bottom:1em}
.sp-md-top{padding-top:1em}
.sp-lg-bottom{padding-bottom:1.5em}
.sp-lg-top{padding-top:1.5em}




