
//    Variable Definition   
$font-size-xsmall:9px;
$font-size-small:11px;
$font-size-base:14px !default; //bootstrap override
$font-size-medium:16px; 
$font-size-large:18px;
$font-size-xlarge:20px;

$font-family-sans-serif:Verdana,Arial,Helvetica,sans-serif !default; //bootstrap override
$headings-font-family:'Gotham 7r',$font-family-sans-serif !default;  //bootstrap override


//    Class definitions
.font-xsmall{
	font-size:$font-size-xsmall;
}

.font-small{
	font-size:$font-size-small;
}

.font-base{
	font-size:$font-size-base;
}

.font-medium{
	font-size:$font-size-medium;	
}

.font-large{
	font-size:$font-size-large;
}

.font-xlarge{
	font-size:$font-size-xlarge;
}

.font-subtext{
	font-size:$font-size-base;
	color:$gray-light;
}




