.example {
  @include row;
  margin-bottom: 2em;

  .code {
    @extend .doc;

    pre {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }

  .result {
    @extend .doc;
    width: 100%;

    .result-pane {
      position: relative;
      border: 1px $border-color solid;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &.-padded .result-pane {
    padding: $small-spacing;
  }

  &.-minor {
    margin-bottom: 1em;

    .result .result-pane {
      border: none;
      border-top: 1px $border-color solid;
    }

    @include media($large-screen) {
      .code, .result {
        @include span-columns(6);

        .result-pane {
          border: 1px $border-color solid;
        }
      }
    }
  }

  &.-large-element {
    @extend .minor;

    @include media($large-screen) {
      .result {
        .result-pane {
          padding-top: 0;
          border: none;
        }
      }
    }
  }

  &.-element {
    margin-bottom: 1em;
    border-bottom: 1px $border-color solid;

    .result-pane {
      border: none;
      margin-left: $content-padding-mobile;
      margin-right: $content-padding-mobile;

      @include media($large-screen) {
        margin-left: 0;
      }
    }

    @include media($large-screen) {
      .code {
        @include span-columns(8);
      }

      .result {
        @include span-columns(4);
        .result-pane { padding: 0px; }
      }
    }
  }
}

.example-note {
  color: #999;
}


.responsive-example {
  color: $graphite;

  @include media($medium-screen) {
    font-size: 20px;
    color: $dolphin;
  }

  @include media($large-screen) {
    font-size: 32px;
    color: $kp-blue;
  }
}
