@import 'vendor/prism';

$border-color: #ddd;
$content-padding-mobile: 20px;
$small-padding: 0.5em;
$styleguide-gutter: $gutter-spacing;
$styleguide-gutter-bottom: $xl-spacing;
$main-max-width: $desktop-small-max;
$styleguide-largest-screen: new-breakpoint($main-max-width + ($styleguide-gutter * 2), 12);
$mobile-header-height: 50px;

code {
  line-height: $medium-font-size;
  padding: 2px;
  color: color(kp-blue);
  background-color: color(graphite);
  font-size: $tiny-font-size;
}

.styleguide-header {
  @extend .page-heading;

  background-color: color(kp-blue);
  color: white;
  background-image: url('images/kp-icon.svg');
  background-position: 50% 30%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  background-size: 40px;
  height: $mobile-header-height;
  line-height: $mobile-header-height;
  vertical-align: middle;
  padding-left: $gutter-spacing;
  padding-right: $gutter-spacing;
  text-align: right;
  font-size: $medium-font-size;
  width: 100%;
  z-index: $z-header;

  @include media($desktop) {
    width: 100%;
    height: 170px;
    border-bottom: color(kp-blue) 10px solid;
    background-size: 100px;
    padding-top: 120px;
    text-align: center;
    position: relative;
  }
}

.device-menu-button {
  @extend .device-only;
  float: left;
  line-height: $mobile-header-height;
  vertical-align: middle;
}

.styleguide-content {
  @include outer-container($main-max-width);
}

.fixedsticky-dummy {
  display: none !important;
}

.styleguide-main {
  @include clearfix;

  margin-left: $styleguide-gutter;
  margin-right: $styleguide-gutter;
  margin-bottom: $styleguide-gutter-bottom;

  @include media($styleguide-largest-screen) {
    margin-left: auto;
    margin-right: auto;
    max-width: $main-max-width;
  }
}

.styleguide-navigation {
  display: none;
  padding-top: $small-spacing;

  ul {
    @extend %list-unstyled;
    font-size: $small-font-size;
    font-weight: bold;
    align: left;
    margin-top: $tiny-spacing;
  }

  a {
    color: color(dolphin);
    text-decoration: none !important;

    &:hover {
      margin-left: 0.2em;
      color: color(interactive-blue);
    }
  }

  @include media($device) {
    @include transition(all 0.2s $ease-out-cubic);

    display: block;
    z-index: 10;
    position: fixed;
    background-color: color(graphite);
    width: 50%;
    top: $mobile-header-height !important;
    left: 0px;
    bottom: 0px;
    padding-left: $gutter-spacing;

    &.hidden {
      left: -$tablet-max;
    }
  }

  @include media($desktop) {
    @include span-columns(2);
    top: $styleguide-gutter;
    display: block;
  }
}

.styleguide-nav-heading {
  color: color(inky-blue);
  font-size: $small-font-size;
  font-family: $bold-font-family;
  margin-bottom: $tiny-spacing;
}

.styleguide-content {
  padding-top: $mobile-header-height;

  @include media($desktop) {
    @include span-columns(10);
    padding-top: 0px;
    float: right;
  }
}

.styleguide-section-heading {
  font-size: $medium-font-size;
  color: color(kp-blue);
  padding-bottom: 10px; //TODO: remove this magic number
  border-bottom: 1px $border-color solid;
  margin-bottom: 20px; //TODO: remove this magic number
  margin-top: $large-spacing;

  @include media($desktop) {
    font-size: $large-font-size;
  }
}

.styleguide-subheading {
  margin-top: $large-spacing;
  color: color(dolphin);
  font-size: $medium-font-size;
}

.color-section {
  @include outer-container(100%);
  margin-bottom: 20px;
}

.color {
  margin-bottom: $paragraph-spacing;
  font-size: $small-font-size;

  @include media($tablet) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($desktop) {
    @include span-columns(4);
    @include omega(3n);
  }

  .swatch {
    height: 80px;
    width: 100%;
    border-radius: 5px;
  }
}

.font-variables {
  @include clearfix;

  .font-variable {
    margin-bottom: $paragraph-spacing;
    background-color: color(pebble);

    div {
      padding-left: $small-spacing;
      vertical-align: bottom;
      line-height: 60px;
    }

    code {
      display: block;
    }

    @include media($tablet) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}

.responsive-docs {
  .-mobile-min {
    top: 0;
  }
  .-mobile-max {
    top: $mobile-max;
  }
  .-tablet-min {
    top: $tablet-min;
  }
  .-tablet-max {
    top: $tablet-max;
  }
  .-desktop-small-max {
    top: $tablet-max
  }
}
table.table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  width: 100%;

  th {
    border-bottom: 2px solid color(dolphin);
    font-family: $bold-font-family;
    padding: $medium-spacing 0;
    text-align: left;
  }
  td {
    text-align: center;
    width: auto;
    border-bottom: 1px solid color(graphite-dark);
    padding: $medium-spacing 0;
  }
  td:first-child {
    padding-left: $medium-spacing;
  }
  td:last-child {
    padding-right: $medium-spacing;
  }
  tr:last-child td {
    border-bottom: none;
  }
  tr, td, th {
    vertical-align: middle;
  }
}

.spacing-examples {
  @include clearfix;

  .spacing-example {
    margin-bottom: $paragraph-spacing;
    background-color: color(pebble);
    padding: $small-padding;

    // Make spacing variables available to auto document.
    &.-tiny { top: $tiny-spacing; }
    &.-small { top: $small-spacing; }
    &.-medium { top: $medium-spacing; }
    &.-large { top: $large-spacing; }
    &.-xl { top: $xl-spacing; }
    &.-xxl { top: $xxl-spacing; }

    @include media($tablet) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  .spacing-value {
    font-family: $bold-font-family;
  }

  .spacing-highlight {
    @include clearfix;
    * { background-color: color(pebble); }
  }

  .spacing-example:hover .spacing-highlight {
    background-color: #FDF78A;
  }


  .spacing-example.-tiny .item-subheading { margin-bottom: 0; }
  .medium-spacing { margin-bottom: $medium-spacing !important; }
  .large-spacing { margin-bottom: $large-spacing; }
  .xl-spacing { margin-top: $xl-spacing; }
  .xxl-spacing { margin-top: $xxl-spacing; }
}


// Responsive breakpoint
.current-breakpoint {
  position: fixed;
  width: 100%;
  background: color(graphite);
  padding: $small-padding;
  text-align: center;
  z-index: 1;
  bottom: 0;

  .mobile-only {
    display: none;
    @include media($mobile) {
      display: inline;
    }
  }

  .tablet-only {
    display: none;
    @include media($tablet) {
      display: inline;
    }
  }

  .small-desktop-only {
    display: none;
    @include media($desktop-small) {
      display: inline;
    }
  }

  .desktop-only {
    display: none;
    @include media($desktop-medium) {
      display: inline;
    }
  }

  .large-desktop-only {
    display: none;
    @include media($desktop-large) {
      display: inline;
    }
  }
}
.extra-tiny-font-size { font-size: $extra-tiny-font-size;}
.tiny-font-size { font-size: $tiny-font-size; }
.small-font-size { font-size: $small-font-size; }
.medium-font-size { font-size: $medium-font-size; }
.large-font-size { font-size: $large-font-size; }
.xl-font-size { font-size: $xl-font-size; }
.xxl-font-size { font-size: $xxl-font-size; }
.base-font-family { font-family: $base-font-family; }
.bold-font-family { font-family: $bold-font-family; }

.icons-listing {
  @include outer-container();
  font-family: $base-font-family;

  .-icon {
    @include omega(4n);
    @include span-columns(3);
    padding: $tiny-spacing;

    .-name {
      font-size: $tiny-font-size;
    }
  }

  .-icon i {
    margin: $tiny-spacing;
    font-size: $large-font-size;
  }
}
.styleguide-note {
  $note-bg-color: color("fuchsia");

  padding: $medium-spacing;
  background-color: $note-bg-color;
  color: set-text-color($note-bg-color);
  a {
    color: white;
    text-decoration: underline;
  }
}
