$border-color: #ddd;
$content-padding-mobile: 20px;
$small-padding: 0.5em;
$styleguide-gutter: 40px;
$main-max-width: ($large-screen-max * 16/12) + ($styleguide-gutter * 2);

code {
  color: $kp-blue;
  padding: 1px;
  background-color: $graphite;
}

.styleguide-header {
  @extend .page-heading;

  width: 100%;
  height: 170px;
  background-color: $kp-blue;
  background-position: 50% 30%;
  background-image: url('images/kp-icon.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  border-bottom: $kp-blue 10px solid;
  padding-top: 120px;
  text-align: center;
  color: white;
}

.styleguide-content {
  @include outer-container($main-max-width);
}

.fixedsticky-dummy {
  display: none !important;
}

.styleguide-main {
  @include clearfix;

  margin-left: $gutter-spacing;
  margin-right: $gutter-spacing;
}

.styleguide-navigation {
  display: none;

  @include media($largest-screen) {
    @include span-columns(3);
    display: block;

    ul {
      @extend %list-unstyled;
      font-size: $medium-font;
      font-weight: bold;
      align: left;
    }

    a {
      color: $dolphin;
      text-decoration: none !important;

      &:hover {
        margin-left: 0.2em;
        color: $interactive-blue;
      }
    }
  }
}

.styleguide-content {
  @include media($largest-screen) {
    @include span-columns(9);
    float: right;
  }
}

.styleguide-section-heading {
  font-family: $brand-font;
  font-size: $large-font;
  color: $kp-blue;
  padding-bottom: 10px;
  border-bottom: 1px $border-color solid;
  margin-bottom: 20px;
}

.styleguide-subheading {
  color: $dolphin;
  font-family: $brand-font;
  font-size: $medium-font;
}

.color-section {
  @include outer-container(100%);
  margin-bottom: 20px;
}

.color {
  margin-bottom: $gutter-spacing;

  @include media($medium-screen) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }

  .swatch {
    height: 80px;
    width: 100%;
    border-radius: 5px;
  }
}