@import 'vendor/prism';

$border-color: #ddd;
$content-padding-mobile: 20px;
$small-padding: 0.5em;
$styleguide-gutter: $gutter-spacing;
$styleguide-gutter-bottom: $xl-spacing;
$main-max-width: $desktop-small-max;
$styleguide-largest-screen: new-breakpoint($main-max-width + ($styleguide-gutter * 2), 12);
$mobile-header-height: 50px;

.banner-alert {
  background-color: color("fuchsia");
  color: white;
  display: none;
  text-align: center;
  top: 0;
  width: 100%;
  @include media($desktop){
    display: block;
    padding: $tiny-spacing 0;
    z-index: $foreground;
  }
  a {
    color: color("inky-blue");
  }
}

code {
  line-height: $medium-font-size;
  padding: 2px;
  color: color('interactive-blue');
  background-color: color('graphite');
  font-size: $tiny-font-size;
}

.styleguide-header {
  @extend .page-heading;
  @include clearfix;
  background-color: color('interactive-blue');
  color: white;
  display: flex;
  font-size: $medium-font-size;
  justify-content: space-between;
  line-height: $mobile-header-height;
  padding: $gutter-spacing/4 $gutter-spacing/2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-header;

  .device-menu-button {
    @extend .device-only;
    @extend %button-unstyled;
  }

  @include media($desktop) {
    flex-direction: column;
    position: static;
    text-align: center;
    width: 100%;
  }

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  .logo {
    margin: 0 auto;
  }
}

.fixedsticky-dummy {
  display: none !important;
}

.styleguide-main {
  @include clearfix;
  margin: $styleguide-gutter-bottom 5%;
  position: relative;

  @include media($desktop) {
    margin: $styleguide-gutter-bottom $gutter-spacing;
  }
}

.styleguide-navigation {
  display: none;

  ul {
    @extend %list-unstyled;
    font-size: $small-font-size;
    font-weight: bold;
    line-height: $large-font-size;
    margin: 0 0 $medium-spacing 0;
  }

  a {
    color: color('interactive-blue');
    font-size: $base-font-size;
    margin-left: 0.5em;

    &:hover {
      color: color('interactive-blue-dark');
    }
  }

  @include media($device) {
    @include transition(all 0.2s $ease-out-cubic);
    background-color: color('graphite');
    bottom: 0;
    display: block;
    left: 0;
    padding-left: $gutter-spacing;
    position: fixed;
    top: $mobile-header-height + $gutter-spacing/2;
    width: 50%;
    z-index: $foreground;

    &.hidden {
      left: -$tablet-max;
    }
  }

  @include media($desktop) {
    @include span-columns(3);
    float: left;
  }
}

.styleguide-nav-heading {
  color: color('inky-blue');
  font-size: $small-font-size;
}

.styleguide-content {
  @include outer-container($main-max-width);

  padding: $content-padding-mobile 0;
  width: 100%;

  @include media($desktop) {
    @include span-columns(9);
  }
}

.styleguide-section-heading {
  color: color('interactive-blue');
  border-bottom: 1px $border-color solid;
  font-size: $medium-font-size;
  margin: $large-spacing 0 $small-spacing 0;
  padding-bottom: $small-spacing;

  &:first-of-type {
    margin-top: 0;
  }

  @include media($desktop) {
    font-size: $large-font-size;
  }
}

.styleguide-subheading {
  margin-top: $large-spacing;
  color: color('dolphin');
  font-size: $medium-font-size;
}

.color-section {
  @include outer-container(100%);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.color {
  margin-bottom: $paragraph-spacing;
  font-size: $small-font-size;
  margin-left: $small-spacing;
  @include span-columns(3);

  .swatch {
    height: 80px;
    width: 100%;
    border-radius: 5px;
  }
}

.font-variables {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include media($desktop){
    flex-direction: row;
  }

  .font-variable {
    background-color: color('pebble');
    margin: $small-spacing 0;
    flex: 0 0 auto;

    div {
      padding: 0 $small-spacing;
      vertical-align: bottom;
      line-height: $xl-spacing;
    }

    code {
      display: block;
    }

    @include media($desktop) {
      margin: $small-spacing 0 0 $small-spacing;
      flex-direction: row;
    }
  }

  &.-families {
    .font-variable {
      @include media($desktop) {
        &:first-of-type {
          flex: 1 1 100%;
        }
      }
    }
  }
}
.responsive-docs {
  .-mobile-min {
    top: 0;
  }
  .-mobile-max {
    top: $mobile-max;
  }
  .-tablet-min {
    top: $tablet-min;
  }
  .-tablet-max {
    top: $tablet-max;
  }
  .-desktop-small-max {
    top: $tablet-max
  }
}
#responsive-table .table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  width: 100%;

  th {
    border-bottom: 2px solid color(dolphin);
    font-family: $bold-font-family;
    padding: $medium-spacing 0;
    text-align: left;
  }
  td {
    text-align: center;
    width: auto;
    border-bottom: 1px solid color(graphite-dark);
    padding: $medium-spacing 0;
  }
  td:first-child {
    padding-left: $medium-spacing;
  }
  td:last-child {
    padding-right: $medium-spacing;
  }
  tr:last-child td {
    border-bottom: none;
  }
  tr, td, th {
    vertical-align: middle;
  }
}

.spacing-examples {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .spacing-example {
    margin-bottom: $paragraph-spacing;
    background-color: color(pebble);
    padding: $small-padding;

    // Make spacing variables available to auto document.
    &.-extra-tiny { top: $extra-tiny-spacing; }
    &.-tiny { top: $tiny-spacing; }
    &.-small { top: $small-spacing; }
    &.-medium { top: $medium-spacing; }
    &.-large { top: $large-spacing; }
    &.-xl { top: $xl-spacing; }
    &.-xxl { top: $xxl-spacing; }

    @include media($desktop) {
      width: 30%;
      margin-right: $small-spacing;
    }

  }

  .spacing-value {
    font-family: $bold-font-family;
  }

  .spacing-highlight {
    @include clearfix;
    * { background-color: color(pebble); }
  }

  .spacing-example:hover .spacing-highlight {
    background-color: color('tangerine');
  }


  .spacing-example.-tiny .item-subheading { margin-bottom: 0; }
  .extra-tiny-spacing { margin-bottom: $extra-tiny-spacing; }
  .medium-spacing { margin-bottom: $medium-spacing !important; }
  .large-spacing { margin-bottom: $large-spacing; }
  .xl-spacing { margin-top: $xl-spacing; }
  .xxl-spacing { margin-top: $xxl-spacing; }
}


// Responsive breakpoint
.current-breakpoint {
  position: fixed;
  width: 100%;
  background: color('graphite');
  padding: $small-padding;
  text-align: center;
  z-index: 1;
  bottom: 0;

  .mobile-only {
    display: none;
    @include media($mobile) {
      display: inline;
    }
  }

  .tablet-only {
    display: none;
    @include media($tablet) {
      display: inline;
    }
  }

  .small-desktop-only {
    display: none;
    @include media($desktop-small) {
      display: inline;
    }
  }

  .desktop-only {
    display: none;
    @include media($desktop-medium) {
      display: inline;
    }
  }

  .large-desktop-only {
    display: none;
    @include media($desktop-large) {
      display: inline;
    }
  }
}
.extra-tiny-font-size { font-size: $extra-tiny-font-size;}
.tiny-font-size { font-size: $tiny-font-size; }
.small-font-size { font-size: $small-font-size; }
.medium-font-size { font-size: $medium-font-size; }
.large-font-size { font-size: $large-font-size; }
.xl-font-size { font-size: $xl-font-size; }
.xxl-font-size { font-size: $xxl-font-size; }
.base-font-family { font-family: $base-font-family; }
.light-font-family { font-family: $light-font-family; }
.medium-font-family { font-family: $medium-font-family; }
.bold-font-family { font-family: $bold-font-family; }

.icons-listing {
  @include outer-container();
  @include display(flex);
  flex-wrap: wrap;
  font-family: $base-font-family;

  .-icon {
    @include omega(4n);
    @include span-columns(3);
    padding: $tiny-spacing;

    .-name {
      font-size: $tiny-font-size;
    }
  }

  .-icon i {
    margin: $tiny-spacing;
    font-size: $large-font-size;
  }

}
.styleguide-note {
  $note-bg-color: color("fuchsia");

  padding: $medium-spacing;
  background-color: $note-bg-color;
  color: set-text-color($note-bg-color);
  a {
    color: white;
    text-decoration: underline;
  }
}
