@include checkbox('my-30-px-checkbox', 30px, $medium-font-size);

.copay-icon {
  @include feature-icon("interactive-blue", "compact");
}

.sidebar-icon {
  @include feature-icon("dolphin", "hollow");
}

.appointment-feed-icon {
  @include feature-icon("moss");
}
.notification {
  &.-hard-interruption {
    @extend %hard-interruption;
  }

  &.-soft-interruption {
    @extend %soft-interruption;
  }

  &.-system-error {
    @extend %system-error;
  }

  &.-validation-error {
    @extend %validation-error;
  }
}

.-hide-action-buttons {
  @include media($device) {
    .action-button, .action-buttons, .primary-action {
      display: none !important;
    }
  }
}

.example {
  @include row;
  margin-bottom: 2em;

  .code {
    @extend .doc;
    font-size: $tiny-font-size;

    pre {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }

  .result {
    @extend .doc;
    width: 100%;

    .result-pane {
      position: relative;
      border: 1px $border-color solid;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &.-padded .result-pane {
    padding: $small-spacing;
  }


  @include media($desktop) {
    &.-padded-desktop .result-pane {
      padding: $small-spacing;
    }
  }


  &.-minor {
    margin-bottom: 1em;

    .result .result-pane {
      border: none;
      border-top: 1px $border-color solid;
    }

    @include media($desktop-medium-up) {
      .code, .result {
        @include span-columns(6);

        .result-pane {
          border: 1px $border-color solid;
        }
      }
    }
  }

  &.-large-element {
    @extend .minor;

    @include media($desktop-medium-up) {
      .result {
        .result-pane {
          padding-top: 0;
          border: none;
        }
      }
    }
  }

  &.-element {
    margin-bottom: 1em;
    border-bottom: 1px $border-color solid;

    .result-pane {
      border: none;
    }

    @include media($desktop-medium-up) {
      .code {
        @include span-columns(8);
      }

      .result {
        @include span-columns(4);
      }
    }
  }
}

.example-note {
  color: #999;
}


.responsive-example {
  color: color(graphite);

  @include media($tablet) {
    font-size: 20px;
    color: color(dolphin);
  }

  @include media($desktop) {
    font-size: 32px;
    color: color(interactive-blue);
  }
}
